<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple HTML HomePage</title>
  <link rel="stylesheet" href="/static/css/for_index.css">
</head>
<body>
  <header class="header">
    <a href="#" class="logo">Learn Programming languages with us.</a>
    <nav class="nav-items">


    </nav>
  </header>
  <main>
    <div class="intro">
      <h1>PROGRAMMING LANGUAGES</h1>
      <p>Here, We provide the useful links for the Computer Languages</p>
      <button><a href="https://www.hackreactor.com/blog/computer-programming-languages-types-amp-differences">Learn More</a></button>
      
      
    </div>
    <div class="achievements">
      <div class="work"> 
        <a href="https://www.geeksforgeeks.org/c-language-set-1-introduction/">C</a>
        <p class="work-text">C is a procedural programming language. It was initially developed by Dennis Ritchie in the year 1972. It was mainly developed as a system programming language to write an operating system. </p>
      </div>
      <div class="work">
        <a href="https://www.geeksforgeeks.org/introduction-to-c-programming-language/">C++</a>
        <p class="work-text">C++ is a general-purpose programming language that was developed as an enhancement of the C language to include object-oriented paradigm.</p>
      </div>
      <div class="work">
        <a href="https://www.geeksforgeeks.org/introduction-to-java/">Java</a>
        <p class="work-text">JAVA was developed by James Gosling at Sun Microsystems Inc in the year 1995. A general-purpose programming language made for developers to write once run anywhere that is compiled Java code can run on all platforms that support Java.</p>
      </div>
      <div class="work">
        <a href="https://www.geeksforgeeks.org/introduction-to-python/">Python</a>
        <p class="work-text">Python is a widely used general-purpose, high level programming language. It was created by Guido van Rossum in 1991 and further developed by the Python Software Foundation. It was designed with an emphasis on code readability, and its syntax allows programmers to express their concepts in fewer lines of code.</p>
      </div>
    </div>
    <div class="about-me">
      <div class="about-me-text">
        <h2>Programming Languages</h2>
        <p>A programming language is any set of rules that converts strings, or graphical program elements in the case of visual programming languages, to various kinds of machine code output. Programming languages are one kind of computer language, and are used in computer programming to implement algorithms.</p>
      </div>
      <img src="/static/images/image.png" alt="me">
    </div>

    <div class="ip-block" style="border: 1px solid black;">
      <h1 id="ip-address">Oops! Something Went Wrong...⚠</h1>
    </div>

    <footer class="footer">
      <div class="bottom-links">
        <div class="links">
          <span>Other Popular Languages</span>
          <a href="https://www.geeksforgeeks.org/ruby-programming-language-introduction/">Ruby</a>
          <a href="https://www.geeksforgeeks.org/introduction-to-javascript/">JavaScript</a>
          <a href="https://www.geeksforgeeks.org/introduction-to-c-sharp/">C#</a>
      </footer>
  </main>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity=
        "sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
        crossorigin="anonymous">
  </script>
  <script src="/static/js/script.js"></script>
</body>
</html>
